<br>
<li>
  <div class="row">
    <div class="col-md-8">
      <blockquote class="blockquote">
        <p class="mb-0">{{answer.content}} </p>
        <footer class="blockquote-answer">
          {{answer.author}}
        </footer>
      </blockquote>
    </div>
  </div>
</li>

<button class="btn btn-danger"{{action 'delete' answer}}>Delete</button>
