<li>
  <blockquote class="blockquote">
    <p class="mb-0">{{#link-to 'question' question.id}}{{question.content}} {{/link-to}}</p>
      <footer class="blockquote-question">
      {{question.author}}
    </footer>
  </blockquote>
</li>
