More information on {{question.content}} <br>asked by {{question.author}}<br>
Add few extra notes to {{question.notes}}
<br>
<button class="btn btn-danger" {{action 'delete' question}}>Delete</button>
