/*google fonts*/
* {
  font-family: 'Josefin Sans', sans-serif;
}

/*styling for social media icons*/
#github {
  display: inline-block;
  width: 43px;
  position:relative;
}

#instagram{
  display: inline-block;
  width: 50px;
  position:relative;
}

#facebook{
  display: inline-block;
  width: 45px;
  position:relative;
}

#pinterest{
  display: inline-block;
  width: 40px;
  position:relative;
}

/*styling for jumbotron*/
.jumbotron {
  background-color: #292F36;
  margin-bottom: 0;
  padding-bottom: 0;
  color: white;
}

/*styling for nav bar*/
nav {
 background-color: #FF6B6B;
  padding: 10px;
}

nav a {
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 18px;
}

/*styling for logo*/
#logo{
  float: left;
  width: 100px;
  padding-right: 10px;
  margin: 5px;
}

h2 {
  font-size: 30px;
}

p{
  font-size: 20px;
}
