/*google fonts*/
* {
  font-family: 'Josefin Sans', sans-serif;
}
footer{
  padding: 0;
  margin: 0;
}
/*styling for social media icons*/
#github {
  display: inline-block;
  width: 43px;
  position:relative;
  top:50%;
  left:45%;

}

#instagram{
  display: inline-block;
  width: 50px;
  position:relative;
  top:50%;
  left:45%;
}

#facebook{
  display: inline-block;
  width: 45px;
  position:relative;
  top:50%;
  left:45%;
}

#pinterest{
  display: inline-block;
  width: 40px;
  position:relative;
  top:50%;
  left:45%;
}

/*styling for jumbotron*/
.jumbotron {
  background-color: #292F36;
  margin-bottom: 0;
  padding-bottom: 0;
  color: white;
}

/*styling for nav bar*/
nav {
 background-color: #FF6B6B;
  padding: 10px;
}

nav a {
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 18px;
}

/*styling for logo*/
#logo{
  float: left;
  width: 100px;
  padding-right: 10px;
  margin: 5px;
}

h2 {
  font-size: 30px;
}

p{
  font-size: 20px;
}

ul{
  font-size: 20px;
}

li{
  list-style: none;
  font-size: 20px;
}

/*blockquote styling*/
.blockquote-footer{
  font-size: 18px;
}

.blockquote{
border-left: 10px solid #FF6B6B;
background: #f9f9f9;
}

.row-question{
  margin-top: 20px;
}
