
<h1> Welcome to Query Message Board </h1>

We hope you find answers for questions you are looking for !!!
<div class="container">
  <ul>
    {{#each model.questions as |question|}}
       {{question-tile question=question}}
    {{/each}}
  </ul>
</div>


{{new-question saveQuestion2="saveQuestion3"}}

<h2> Answers feed </h2>

<ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.content}} - by {{answer.author}}</li>
  {{/each}}
</ul>
