<div class="row-question">
  <div class="col-md-8">
    {{#each model.questions as |question|}}
      {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
    {{/each}}
  </div>
  <div class="col-md-3">
    <h1>Ask a question?</h1>
    <div class="row-question">
      {{new-question saveQuestion2="saveQuestion3"}}
    </div>
  </div>
</div>
