<h1> Welcome to Query Message Board </h1>

We hope you find answers for questions you are looking for !!!

<ul>
  {{#each model as |question|}}
     {{question-tile question=question}}
  {{/each}}
</ul>

{{new-question saveQuestion2="saveQuestion3"}}

<br>
<hr>
{{#link-to 'about'}}About{{/link-to}}<br>
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
