
<div class="delete-question-button">
  {{question-detail question=model destroyQuestion="destroyQuestion" destroyAnswer="destroyAnswer"}}
</div>


{{new-answer saveAnswer="saveAnswer" question=model}}
